body
{
  background-color: #eff;
}

.header
{
  width: 100%;
  margin-bottom: 2%;
}
.introduction
{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
hr
{
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 7%;
  color: #eee;
  margin-top: 5%;
  margin-bottom: 5%;
}
h1
{
  font-family: Trebuchet MS;
  font-size: 40px;
  color: #234;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
h2
{
  font-family: Trebuchet MS;
  color: #39d;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
p{
  font-family: verdana;
  font-size: 18px;
  font-weight: 300px;
  color: #545454;
  line-height: 30px;
  margin-left: 27%;
  margin-right: 27%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.work p
{
  margin-left: 27%;
  margin-right: 27%;
}

.message
{
  text-align: center;
  font-size: 20px;
  background-color: #39d;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  border-style: none;
  border-radius: 6px;
  cursor: pointer;
}
.message:hover
{
  background-color: #234;
}

video
{
  width: 45%;
  padding: 10px 10px 10px 10px;
  border-style: ridge;
  border-radius: 5px;
}
.videos
{
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}


.graphics
{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.graphics img
{
  border-style: ridge;
  border-radius: 5px;
  width: 30%;
  padding: 10px 10px 10px 10px;
}

.i-can-help
{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.message
{
  text-align: center;
  font-size: 20px;
  background-color: #39d;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-family: verdana;
  border-style: none;
  border-radius: 6px;

  cursor: pointer;
}

.message:hover
{
  background-color: #234;
}

footer
{
  font-family: Verdana;
  text-align: center;
  background-color: #234;
  color: white;
  font-size: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
